body {
    width: 100%;
    background: url(../images/bg2.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #eee; 
    border-bottom: 2px solid gray;
}

.headercontent {
    position: absolute;
    width: 80%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 20px;
    height: 80px;
    /*background-color: #cc0000;*/
    
}

h1 {
    background: #4aaaa5;
    color: #fff;
    font-size: 28px;
    float: left;
    margin-top: 16px;
    margin-left: -20px;
    padding: 16px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    display: inline;
    float: right;
    /*background-color: rebeccapurple;*/
    text-align: right;
    margin-top: 41px;
    margin-right: -20px;
}

li {
    display: inline;
    font-size: 16px;
    text-decoration: none;
}

a {
    display: inline-block;
    padding: 10px 30px;
}

.content {
    position: absolute;
    top: 100px;
    padding: 20px;
    width: 80%;
    background: #eee;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

h2 {
    border-bottom: 2px solid gray;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#face {
    width: 150px;
    float: left;
    padding-right: 20px;
}

footer {
    background-color: #666; 
    border-top: 8px solid #4aaaa5;    
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
